<h1><%= @question.body %></h1>

<% if @question.tags.any? %>
  <h3>Tags:</h3>
  <ul>
    <% @question.tags.each do |tag| %>
      <li><%= link_to tag.name, tag %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [@question, @question.replies.build] do |form| %>
  <p>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<h2>Replies</h2>
<% @question.replies.each do |reply| %>
  <p>
    <%= reply.body %>
  </p>
<% end %>