<h2>
  <%= @question.body %>
  <% if @question.tags.any? %>
    <% @question.tags.each do |tag| %>
      <%= link_to tag.name, tag, style: 'text-decoration: none; font-size: 10pt; color: gray; font-weight: normal;' %>
    <% end %>
  <% end %>
</h2>

<%= form_with model: [@question, @question.replies.build] do |form| %>
  <p>
    <%= form.text_area :body, rows: 6, cols: 60 %>
  </p>
  <p>
    <%= form.submit 'Reply' %>
  </p>
<% end %>
<br>
<% @question.replies.each do |reply| %>
  <p style="white-space: pre-line;">
    <%= reply.body %>
  </p>
<% end %>