<h1><%= @question.body %></h1>

<p><%= @question.tags %></p>

<h2>Add a reply:</h2>
<%= form_with model: [ @question, @question.replies.build ] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<h2>Replies</h2>
<% @question.replies.each do |reply| %>
  <p>
    <%= reply.body %>
  </p>
<% end %>